{% extends "base.html" %}
{% block main %}


<h1 class="heading">Add New Event</h1>
<br>
<div class="container maincontainer">
  <div class="add_event m-4 ">
 <form method="GET" class="form" action="" id="event-form"> <!-- @submit.prevent="addEvent()" -->
  <div class="mt-sm-1 mb-sm-1 d-flex flex-area1">
      <div>
          <label class="" for="title">Title</label><br>
          <input type="text" class="form-control form-field" name="title" required>
      </div>
  </div>
  <div class="mt-sm-3 mb-sm-1">
    <label class="" for="description">Description</label><br>
    <textarea name="description" class="form-control" rows="4" required></textarea><br>
</div>
  <div class="mt-sm-3 mb-sm-1 d-flex flex-area1">
      <div>
          <label class="" for="start_date">Start Date</label><br>
          <input type="text" class="form-control form-field" placeholder="yyyy-mm-dd" name="start_date" required>
      </div>
      <div>
          <label class="" for="end_date">End Date</label><br>
          <input type="text" class="form-control form-field" placeholder= "yyyy-mm-dd" name="end_date" required>
      </div>
  </div>
  <div class="mt-sm-3 mb-sm-1 d-flex flex-area1">
      <div>
          <label class="" for="venue">Venue</label><br>
          <input type="text" class="form-control form-field" placeholder="2021 Mona Grad-way" name="venue" required>
      </div>
      <div>
          <label class="" for="website_url">Website URL</label><br>
          <input type="text" class="form-control form-field" placeholder="https://wwww.google.com" name="website_url" required>

      </div>
  </div>
  
  <div class="">
      <label class="" for="photo">Upload Photo</label><br>
      <input type="file" class="form-control form-field" name="photo" accept=".jpeg, .jpg, .png" required>
  </div>
  <button type="button" name="submit" class="btn btn-primary" onclick="addEvent();">Add Event</button>
</form>
</div>
</div>
{% endblock %}

{% block js %}
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> -->
<script>
    //var token = "{{ token }}";
    //console.log(token)
    // prevent form from reloading
    createForm = document.getElementById("event-form");
    createForm.addEventListener('submit', e =>{
        e.preventDefault();
    }); 
  function addEvent(){
    alert("Here");
    let self = this;
    let eventForm = document.getElementById('event-form');
    let form_data = new FormData(eventForm);

    console.log(form_data)

    fetch("/api/create", {
                method: 'POST',
                body: form_data,
                headers: {
                    //'X-CSRFToken': token,
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                },
                credentials: 'same-origin'        
            })
            .then(function(response) {
                console.log(response);
                return response.json();
            })
            .then(function(jsonResponse) {
                if(jsonResponse.data){
                    alert("Congratulations! new event created");
                  //swal({title: "Add Event",text: jsonResponse.message,icon: "success",button: "Proceed"});
                  window.location = "http://127.0.0.1:5000/viewEvents"
                  
                }else{
                    alert("Oh no! something went wrong :(");
                    //swal({title: "Add Event",text: jsonResponse.errors[0],icon: "error",button: "Try Again"});
                }
                
            })
            .catch(function(error) {
                console.log(error);
            });
          }
</script>
{% endblock%}
