{% extends "base.html" %}
{% block main %}


<h1 class="heading">Add New Event</h1>
<br>
<form action="{{url_for('eventForm')}}" method='POST' enctype = "multipart/form-data"> 
    {{ form.csrf_token }} 
    <div class="form-group">
        {{ form.title.label }} <br>
        {{ form.title (size=57) }}
      </div>
  

  <div class="form-group">
    {{ form.description.label }} <br>
    {{ form.description (rows=6, cols=60) }}
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            {{ form.start_date.label }} <br>
            {{ form.start_date (size=15, placeholder='2020-08-05') }}
          </div>
      </div>
      <br>

      <div class="col-md-6">
        <div class="form-group">
            {{ form.end_date.label }} <br>
            {{ form.end_date (size=18, placeholder='2021-08-23') }}
          </div>
      </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          {{ form.venue.label }} <br>
          {{ form.venue (size=15, placeholder='2021 Mona Road') }}
        </div>
    </div>
    <br>

    <div class="col-md-6">
      <div class="form-group">
          {{ form.website_url.label }} <br>
          {{ form.website_url (size=18, placeholder='www.google.com') }}
        </div>
    </div>
</div>
  
  
  <div class="form-group">
    {{ form.photo.label }} <br>
    {{ form.photo (id='photo') }}
  </div>

  <button type="submit" name="submit" class="btn btn-primary">Add Event</button>
</form>
{% endblock %}
