{% extends "base.html" %}
{% block main %}


<h1 class="heading">Add New Event</h1>
<br>
<form action="{{url_for('create')}}" method='POST' enctype = "multipart/form-data"> 
    {{ form.csrf_token }} 
    <form class="formc">
        <div class="row">
     <div class="col-8">
         {{ form.title.label }} 
         {{ form.title(class='form-control') }} 
         
     </div> 
     <br>
     

     <div class="col-sm-8">
         {{ form.start_date.label }}
         {{ form.start_date(class='form-control',placeholder="2021-08-05") }}
         
         
     </div> 
    </div>
    <br>
     
     <div class="row">
     <div class="col-md-4">
         {{ form.end_date.label }} 
         {{ form.end_date(class='form-control',placeholder='2020-08-05')}}
     </div> 
     <br>
     <div class="col-md-4">
         {{ form.description.label }}
         {{ form.description(class='form-control') }}
     </div> 
     </div>
     <br>
     <div class="row">
     <div class="col-md-4">
         {{ form.venue.label }} 
         {{ form.venue(class='form-control',placeholder='Chillin ') }}
     </div> 
     </div>
     <br>
     <!-- <div class="col-md-4">
         {{ form.status.label }}
         {{ form.status( class='form-control', placeholder= "Select Type") }}
     </div>  -->      
     <br>
     <div class="row">
     <div class="col-md-4">
        {{ form.photo.label }}
        {{ form.photo(class='form-control') }}    
     </div>
     </div>
    <br> 

    <button type="submit" name="submit" class="btn btn-primary">Add Event</button>
</form>
    {% endblock %}
