{% extends "base.html" %}

{% block main %}

<div>
    <p>Nothing to see here :) yet</p>
</div>


<div id = "result" class="result alert alert-info">
    No result loaded. 
</div>

<div class="row" id = "event">
    
        Sorry, You have no events.
</div>

<!-- <div class="card" style="width: 18rem;">
    <img src="http://placehold.it/280x180?text=Placeholder+Image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

{% endblock %}


{% block js %}
<script>
    // create token variable
    var token = "";

    // create and call getToken function
    function getToken(){
        fetch(`${window.origin}/token`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (response) {
                    let token= response.data.token;

                    // We store this token in localStorage so that subsequent API requests
                    // can use the token until it expires or is deleted.
                    localStorage.setItem('token', token);
                    console.info('Token generated and added to localStorage. Token' + token);
                })

    }

    // create remove token function
    function removeToken(){
        localStorage.removeItem('token');
        console.info('Token removed from localStorage.');
        alert('Token removed!');

    }
    // create and call viewEvents function
    function viewEvents(){
        event_output = document.getElementById("event");
        output = document.getElementById("result");
        fetch(`${window.origin}/api/events`, {
                'headers': {
                    // Try it with the `Basic` schema and you will see it gives an error message.
                    // 'Authorization': 'Basic ' + localStorage.getItem('token')

                    // JWT requires the Authorization schema to be `Bearer` instead of `Basic`
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
            })
                .then(function (response) {
                    console.log(response.status);
                    if (response.status !== 200){
                        let alert = document.querySelector('.alert');
                        alert.classList.remove('alert-info');
                        alert.classList.add('alert-danger');
                        // unsuccessful response (ie. there was an error)
                        output.innerHTML = `There was an error. Status code ${response.status}`;
                        return ""
                    }
                    
                    response.json().then(function (response) {
                        // https://www.w3schools.com/js/js_object_display.asp
                        // https://www.w3schools.com/js/js_json_arrays.asp
                        // https://getbootstrap.com/docs/5.0/components/card/


                        let alert = document.querySelector('.alert');
                        alert.classList.remove('alert-info', 'alert-danger');
                        alert.classList.add('alert-success');
                        console.log(response);
                        if (response.data) {

                            let result = response.data//JSON.parse(response);
                            console.log(JSON.stringify(result.events[0]));

                            // generating events
                            /*
                            <div class="col-sm-6"  >
                            <div class="card" style="width: 18rem;">
                                <img src="http://placehold.it/280x180?text=Placeholder+Image" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            </div>


                            */
                            let text = "";
                            for (let event = 0; event < result.events.length; event++) {
                                //text += JSON.stringify(result.events[event]) + " <br> ";
                                text += `
                                <div class="col-sm-3"  >
                                <div class="card" style="width: 18rem;">
                                <img src="http://placehold.it/280x180?text=Placeholder+Image" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">${result.events[event].Title}</h5>
                                <p class="card-text">${result.events[event].Description}.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div> </div> <br>`;
                            }
                            console.log(text);
                            // successful response
                            output.innerHTML = `Congrats! You have now made a successful request with a JSON Web Token. Your result: <br> `;//${JSON.stringify(result)}.`;
                            event_output.innerHTML = text;
                        } else {
                            let alert = document.querySelector('.alert');
                            alert.classList.remove('alert-info');
                            alert.classList.add('alert-danger');

                            // unsuccessful response (ie. there was an error)
                            output.innerHTML = `There was an error. ${response.description}`;                        
                        }
                    })
                    .catch(function (error) {
                        let alert = document.querySelector('.alert');
                        alert.classList.remove('alert-info');
                        alert.classList.add('alert-danger');
                        // unsuccessful response (ie. there was an error)
                        output.innerHTML = `There was an error.`;
                    })





                    //-----------------------
                })
                .catch(function (error) {
                    let alert = document.querySelector('.alert');
                    alert.classList.remove('alert-info');
                    alert.classList.add('alert-danger');
                    // unsuccessful response (ie. there was an error)
                    output.innerHTML = `There was an error.`;
                })

    }

    window.onload = function(){
        getToken();
        viewEvents();
        removeToken();
    }

</script>



{% endblock%}