{% extends "base.html" %}

{% block main %}
<div id="mainContainer">
    <div id="jumbotronDiv" class="jumbotron jumbotron-fluid">

<h1 class="page-header">Code Titans - EMS</h1>
{% include 'flash_messages.html' %}

<p class="lead"> Interface for Code Titans' Event Management System</p>
<p>Our solutions are designed to scale as your events grow—whether you manage just one event a year or thousands. 
   This gives you something other solutions can’t: Peace of mind knowing you won’t have to juggle multiple technologies or make a new purchase so that the public can view the details of your events.
   With Code Titans' EMS, you already have all the tools and the support you need to elevate your business to new heights. </p>
<!--<img src = "uploads/pic.jpg"> -->
</div>
</div>
{% endblock %}
