ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 10% !important;
  padding: 2%;
}

.profile_pic{
 margin:5%;
 border-radius: 40%;
}



.main-heading {

font-size: 2.3rem;
font-weight: 700;
}

.heading {

letter-spacing: -0.05rem;
margin-left: 1rem;
}

.center{
text-align: center;
}
ion-content{
color: bisque;
}

.component-icon {
border-radius: 50%;

padding: 7px;
height: 18px;
width: 18px;

margin-top: 5px;
margin-bottom: 5px;
}

.component-icon-dark {
background: var(--ion-color-step-850, #27323e);
color: var(--ion-item-background, #fff);
}

.modal-wrapper {
  --height: 40% !important;
  --width: 30% !important;
  position: absolute;
}