
$mobile:576px;
$tablet:768px;
$laptop:992px;


// @media (prefers-color-scheme: light) {
//     p {
//       color: #111;
//     }
// }
  

@media(min-width:$tablet){

    .login-footer, .custom-back{
        opacity: 0;
        display: none;
    }

    #login-content{
        justify-content: center;
        align-items: center;
        place-content: center;

    }
    #login-grid{
        padding: 5%;
        width: 30rem;
    }
  
}
@media(max-width:$tablet){

.signUpHeader{
    opacity: 0;
}
#toup{
    opacity: 0;
}
}



.login-Toolbar{

    --border-style: none;
    --border-color: transparent;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
}

#login-grid{
    justify-content: center;
    align-items: center;
    place-content: center;

}


.field:not(:last-child) {

    margin-bottom: 1rem !important;
}

.form-field{
ion-label {

        padding-left: 0.2rem;
        padding-right: 0.5rem;
        color: #1b41e9;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;


}


.customInput {

    // --background: #157ec4;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    border-radius: 10px;
    margin-top: 0.25rem;
    transition: all 0.2s linear;
}

}

.custom-button {

    // --border-radius: 5px !important;
    --background: #fcba03;
    --background-activated: rgb(154, 101, 185);
    --background-focused: rgb(154, 101, 185);
    font-size: 1.2rem;
    margin-top: 1rem;
  }

//   .custom-link {

//     color: rgb(170, 121, 226);
//   }
  

  .custom-back {

    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
    font-size: 0.8rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }


  