
$mobile:576px;
$tablet:768px;
$laptop:992px;


@media (prefers-color-scheme: light) {
    p {
      color: #111;
    }
}
  

@media(min-width:$tablet){
    ion-footer, .custom-back{
        opacity: 0;
    }

    ion-content{
        justify-content: center;
        align-items: center;
        place-content: center;

    }
    ion-grid{
        padding: 5%;
        width: 30rem;
    }
    
}
@media(max-width:$tablet){

.signUpHeader{
    opacity: 0;
}

}



ion-toolbar {

    --border-style: none;
    --border-color: transparent;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
}

ion-grid{
    justify-content: center;
    align-items: center;
    place-content: center;

}


.field:not(:last-child) {

    margin-bottom: 1rem !important;
}


ion-label {

        padding-left: 0.2rem;
        padding-right: 0.5rem;
        color: #1b41e9;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;


}

.customInput {

    --background: #157ec4;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    border-radius: 10px;
    margin-top: 0.25rem;
    transition: all 0.2s linear;
}


.form-field:not(:last-child) {

    margin-bottom: 1rem !important;
}

.custom-button {

    --border-radius: 5px !important;
    --background: rgb(170, 121, 226);
    --background-activated: rgb(154, 101, 185);
    --background-focused: rgb(154, 101, 185);
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .custom-link {

    color: rgb(170, 121, 226);
  }
  

  .custom-back {

    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
    font-size: 0.8rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }


  