.card-center{
        display: block;
        flex-direction: column;
        width: 50% !important;
        height: 500px;
        margin: 0 auto !important;
        align-items: center;
        justify-content: center;

}

.signupTitle{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.signupLabel{
    font-size: medium !important;
}



