Click==7.0
dnspython==2.1.0
Flask==1.1.4
Flask-WTF==0.14.3
Flask-SQLAlchemy
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-Login
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.0
Werkzeug==1.0.0
WTForms==2.2.1
# mariadb
mysql-connector-python
python-dotenv
PyJWT == 1.7.1