html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
}
body {
  padding-top: 3.5rem;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: rgba(247, 247, 247, 0.938);
}
nav.bg-primary {
  background-color: #202938 !important;
}
.nav-header {
  font-size: 15px;
}
/* div.form
{
    display: block;
    text-align: center;
}
 */

.form-group{
  font-weight: bold;
  width: 350px;
}
form{
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  /* padding: 10px 100px 20px 30px; */
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; */

}
#event-form {
  width: 570px;
  border:1px solid rgb(233, 233, 233);
}
.form-field {
  width: 250px;
}
button, .btn {

  color: white;
  width: 150px;
  margin-top: 10px;
}

h1{
  font-weight: bold;
  

}
.small{
  font-weight: bold;
}
.maincontainer{
  display:flex;
  max-width: 75vw !important; 
  justify-content: left; 
  flex-direction: column;
}

.container{
  display:flex; 
  max-width: 82vw; 
  justify-content: left; 
  flex-direction: column;
}
#mainContainer {
  margin: auto;
  width: 75%;
}

#jumbotronDiv {
  padding: 7%;
}
.heading{
  text-align: center;
}
.add_event{
  padding-left: 210px;
}
